$color-pink: #fc557c;
$color-orange: #ff4e2e;
$color-grey: #8993ad;
$color-main-bg: #fbfbfb;
$color-white: #ffffff;
$color-success-bg: #06b52b;

$bg-gradient: linear-gradient(to left bottom, #ff2f97, #ff8f5a);

